<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TORM</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        a:link {
            color: #fff;
            text-decoration: none;
        }

        a:active {
            color: #fff;
            text-decoration: none;
        }

        a:visited {
            color: #fff;
            text-decoration: none;
        }

        a:hover {
            color: #fff;
            text-decoration: none;
        }


        .container-head {
            background-color: #303133;
            width: 100%;
            height: 52px;
            position: absolute;
            top: 0;
            left: 0;
        }

        .container-body {
            margin-top: 65px;
        }
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        // ReSharper disable once NativeTypePrototypeExtending
        Date.prototype.addDays = function (days) {
            var date = new Date(this.valueOf());
            date.setDate(date.getDate() + days);
            return date;
        }

        // ReSharper disable once NativeTypePrototypeExtending
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
</head>
<body>
    <div class="container-head">
        <ul style="list-style:none;">
            <li style="display:inline">
                <a href="/" style="font-size: 22px;margin-top: -10px">TORM&nbsp;&nbsp;&nbsp;</a>
            </li>
            <li style="display:inline"><a href="/">&nbsp;&nbsp;Dashboard&nbsp;&nbsp;</a></li>
            <li style="display:inline"><a href="/home">&nbsp;&nbsp;DEMO</a></li>
        </ul>
    </div>

    <div class="container-body">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
