
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .box-card {
        width: 100%;
    }


    .line {
        height: 1px;
        background-color: #e0e6ed;
        margin: -10px -24px;
    }
</style>

<div id="app">
    <div>
        <ul style="list-style:none;">
            <li style="display: inline">
                <el-button type="text">30分钟</el-button>&nbsp;|
            </li>
            <li style="display: inline">
                <el-button type="text">2小时</el-button>&nbsp;|
            </li>
            <li style="display: inline">
                <el-button type="text">8小时</el-button>&nbsp;|
            </li>
            <li style="display: inline">
                <el-button type="text">24小时</el-button>&nbsp;|
            </li>
            <li style="display: inline">
                <el-button type="text">一周</el-button>
            </li>
        </ul>
    </div>
    <div class="line"></div>
    <br />
    <el-row :gutter="20">
        <el-col :span="24">
            <el-card class="box-card" style="height: 440px;">
                <dashboard-all :start="start"
                               :end="end">
                </dashboard-all>
            </el-card>
        </el-col>
    </el-row>
    <br />
    <el-row :gutter="20">
        <el-col :span="12">
            <el-card class="box-card" style="height: 380px;">
                <dashboard-db :start="start"
                              :end="end">
                </dashboard-db>
            </el-card>
        </el-col>
        <el-col :span="12">
            <el-card class="box-card" style="height: 380px;">
                <dashboard-error :start="start"
                                 :end="end">
                </dashboard-error>
            </el-card>
        </el-col>
    </el-row>
    <br />
    <el-row :gutter="20">
        <el-col :span="12">
            <el-card class="box-card" style="height: 380px;">
                <dashboard-explain :start="start"
                                   :end="end">
                </dashboard-explain>
            </el-card>
        </el-col>
        <el-col :span="12">
            <el-card class="box-card" style="height: 380px;">

            </el-card>
        </el-col>
    </el-row>

</div>
<script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts.min.js"></script>
<script src="js/dashboard/all.js"></script>
<script src="js/dashboard/db.js"></script>
<script src="js/dashboard/error.js"></script>
<script src="js/dashboard/explain.js"></script>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data() {
            return {
                start: new Date().addDays(-1).format('yyyy-MM-dd hh:mm:ss'),
                end: new Date().toISOString().format('yyyy-MM-dd hh:mm:ss')
            }
        }
    });
</script>


